.Card {
  width: 180px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: none;
  cursor: grab;
}

.Card-back,
.Card-face {
  border-radius: 10px;
}

.Card:hover {
  box-shadow: 20px 5px 5px rgba(0, 0, 0, 0.5);
  transform:scale(1.25) rotate(-3deg);
  z-index: 100;
}